@charset "utf-8";
body {
  background: #ffffff; //白
  font-family: Meiryo;
  font-size: 100%;
}

/* テーブル共通設定 */
table{
/*  border: 2px #808080 solid; */
/*  rules: none; */
  width: 100%;
  margin-bottom: 20px;
  border: 4px #808080 solid; /*外枠表示*/
}

/* 列幅指定：項目名 */
#table_title{
  width: 30%;
}

/* 列幅指定：入力項目 */
#table_input{
  width: 70%;
}

/* セレクトボックス */
select {
   width: 80%;
}

/* テキスト:単位あり */
input.is_unit {
   width: 80%;
  display: inline-block;
  _display: inline;
}

/* 登録内容入力テーブル */
table.registration{
}

table.registration tr{
  border-bottom: none;
}

#regist td, th {
  border-width: 0; 
}

/* 検索結果表示テーブル */
table.search{
  border-collapse: collapse;
}
#search td, th {
  border: 3px #808080 solid;
}

/* テーブルタイトル */
.table_title{
  background-color: #FFB6C1; //LightPink
}
/* 中央揃え */
.center{
  text-align: center;
}

/* 必須入力項目名 */
#required{
  font-weight:bold;
}

/* 必須入力マーク */
#required_mark{
  color: #ff0000;
}

/* エラーメッセージ */
#error_msg{
  color: #ff0000;
  font-size: 80%;
}


/*  画面サイズが480pxからはここを読み込む  */
@media screen and (min-width:480px) { 

  #error_msg{
    color: #00ffff;
  }
}

/*  画面サイズが768pxから1024pxまではここを読み込む  */
@media screen and (min-width:768px) and ( max-width:1024px) {
  #error_msg{
    color: #db7093;
  }
}

/*  画面サイズが1024pxからはここを読み込む  */
@media screen and (min-width:1024px) {
  #error_msg{
    color: #9acd32;
  }

}

/*  横向きの場合  */
@media screen and (orientation:landscape){
  .picture {
	  display:block;
	  margin:1.2em 0;
	  width:100%;
 }
 .picture img {
	 width:100%;
	 max-width:100%;
	 height:auto;
}
